# Data Cleaning - Gapminder dataset

### This is a dataset pulled from gapminder

In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
gapminder = pd.read_csv('life_expectancy_years.csv')

### The first thing is to do some exploratory analysis to have a general idea od the data

In [20]:
gapminder.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,55.7,56.2,56.7,57.2,57.7,57.8,57.9,58.0,58.4,58.7
1,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,75.9,76.3,76.7,77.0,77.2,77.4,77.6,77.7,77.9,78.0
2,Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,76.3,76.5,76.7,76.8,77.0,77.1,77.3,77.4,77.6,77.9
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.7,82.7,82.6,82.6,82.6,82.6,82.5,82.5,NaN,NaN
4,Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,59.3,60.1,60.9,61.7,62.5,63.3,64.0,64.7,64.9,65.2

In [21]:
gapminder.shape

(187, 220)

In [22]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Columns: 220 entries, country to 2018
dtypes: float64(219), object(1)
memory usage: 321.5+ KB

In [23]:
gapminder.columns

Index(['country', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
       '1807', '1808',
       ...
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018'],
      dtype='object', length=220)

In [37]:
# As we can see, we have values stored as columns. The approach here is to transform the dataset to have a column called year|

In [29]:
gapminder_long = pd.melt(gapminder, id_vars = 'country', var_name = 'year', value_name = 'life_expectancy')

In [31]:
gapminder_long.head()

       country  year  life_expectancy
0  Afghanistan  1800             28.2
1      Albania  1800             35.4
2      Algeria  1800             28.8
3      Andorra  1800              NaN
4       Angola  1800             27.0

In [32]:
gapminder_long.shape

(40953, 3)

In [33]:
gapminder_long.dtypes

country             object
year                object
life_expectancy    float64
dtype: object

In [34]:
# As we can see, the column year is from object type. Let's change it to numeric so we can perform calculations later in
# the analysis.
gapminder_long['year'] = pd.to_numeric(gapminder_long['year'], errors = 'coerce')

In [35]:
gapminder_long.head(3)

       country  year  life_expectancy
0  Afghanistan  1800             28.2
1      Albania  1800             35.4
2      Algeria  1800             28.8

In [36]:
gapminder_long.dtypes

country             object
year                 int64
life_expectancy    float64
dtype: object

In [38]:
gapminder_long.describe()

               year  life_expectancy
count  40953.000000     40437.000000
mean    1909.000000        43.132180
std       63.219967        16.313553
min     1800.000000         1.000000
25%     1854.000000        31.200000
50%     1909.000000        35.500000
75%     1964.000000        56.000000
max     2018.000000        84.200000

In [40]:
gapminder_long.drop_duplicates()

           country  year  life_expectancy
0      Afghanistan  1800             28.2
1          Albania  1800             35.4
2          Algeria  1800             28.8
3          Andorra  1800              NaN
4           Angola  1800             27.0
...            ...   ...              ...
40948    Venezuela  2018             75.9
40949      Vietnam  2018             74.9
40950        Yemen  2018             67.1
40951       Zambia  2018             59.5
40952     Zimbabwe  2018             60.2

[40953 rows x 3 columns]

In [41]:
# As we can see, there are no duolicates. However, the minimum value for life expectancy (1.0 years) is concerning
# and needs to be investigate further.

In [43]:
col = gapminder_long['life_expectancy']

In [44]:
col.head()

0    28.2
1    35.4
2    28.8
3     NaN
4    27.0
Name: life_expectancy, dtype: float64

In [53]:
col[np.abs(col)<20]

635      19.6
1554     12.5
1741     13.4
3537      5.5
3724      1.5
         ...
27282    16.2
27298    15.8
27615    11.3
32191    18.2
36416    12.6
Name: life_expectancy, Length: 174, dtype: float64

In [66]:
# We have 174 entries where life_expectancy is less than 20 years. In some cases we have life expectancy of less than 10 years.
# Since we are talking about 174 rows out of over 40,000, it's safe to drop them as outliers that don't make sense.

In [56]:
names = gapminder_long[gapminder_long['life_expectancy'] < 20].index

In [57]:
gapminder_long.drop(names, inplace=True)

In [62]:
gapminder_long.shape

(40779, 3)

In [64]:
gapminder_long = gapminder_long.reset_index(drop = True)

In [65]:
gapminder_long.head()

       country  year  life_expectancy
0  Afghanistan  1800             28.2
1      Albania  1800             35.4
2      Algeria  1800             28.8
3      Andorra  1800              NaN
4       Angola  1800             27.0

In [67]:
# Summary of what was done:
# 1. We delt with the issue of having values stored as columns
# 2. We changed the year column datatype from object to int64 (integer)
# 3. We verified that there are not duplicates
# 4. We eliminated outliers that didn't make sense

### Now, we need to take care of the last step, which is to deal with missing data

In [68]:
# Let's have a general idea of how many missing values we are dealing with

In [69]:
gapminder_long.isnull().sum().sum()

516

In [70]:
gapminder_long.isnull().sum()

country              0
year                 0
life_expectancy    516
dtype: int64

In [71]:
# We have a total of 516 missing values out of over 40,000 observations. They are all in the life_expectancy column.

In [72]:
516 * 100 / 40779

1.2653571691311705

In [73]:
# It's just 1.27% of our data, so we can simply drop them

In [75]:
gapminder_long.dropna(subset = ['life_expectancy'], how = 'any', inplace=True)

In [76]:
gapminder_long.shape

(40263, 3)

In [77]:
gapminder_long.sample(30)

            country  year  life_expectancy
2017        Somalia  1810             29.4
28276        Brunei  1952             56.4
14385      Barbados  1877             32.3
29978          Cuba  1961             66.3
4547         Greece  1824             36.6
15958       Lesotho  1885             33.5
24574       Comoros  1932             33.5
37500      Kiribati  2001             59.7
38816       Liberia  2008             59.8
23817       Burundi  1928             26.3
12273       Romania  1865             35.7
40035        Angola  2015             64.0
36485       Armenia  1996             69.5
35048        Greece  1988             76.7
11670       Liberia  1862             31.1
32954      Cambodia  1977             24.5
21662       Bolivia  1916             34.5
27298   Timor-Leste  1946             21.7
7605           Peru  1840             35.7
26915     Sri Lanka  1944             44.1
29734  Turkmenistan  1959             51.9
26239    Cape Verde  1941             42.3
20843      Portugal  1911             35.6
10304         China  1855             27.0
22085     Nicaragua  1918             23.2
37259          Chad  2000             52.2
14659      Maldives  1878             32.4
2256        Belarus  1812             36.2
25729         Italy  1938             56.1
10303         Chile  1855             32.0

In [78]:
# To save the dataset for future analysis:

In [79]:
gapminder_long.to_csv('gapminder_clean.csv')